.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: black;
  height: 100vh;
  color: #fff;
}
.card{
 border: 1px solid #000;
 background-color: #ffff;
 color: #000;
 height: 50vh;
 width: 20vw;
}
.head-shot-img{
  height: 100px;
  width: 100px;
}
